<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Product?.ImageUrl" alt="">
        <div class="caption">
            <h3 class="pull-right">@Product?.Price.ToString("c")</h3>
            <h3>
                <a href="/product/details/@Product?.ProductId">@Product?.Name</a>
            </h3>
            <p>@Product?.Description</p>
        </div>
    </div>
</div>